// Category Styles
.category-outer-container {

  .category-grid-container {
    width: 100%;

    .category-title {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
      transition: 0.3s;
      width: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

    }

    .category-container {
      display: grid;
      justify-content: center;
      align-content: center;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      width: 100%;
      padding-top: 10px;
      color: black;
      a {
        color: black;
        
      }
      .main-nav-active {
        color: red;
      }

      .navbar h2 {
        color: #fff;
        display: inline-block;
        background-color: #666;
        text-decoration: none;
        
      }

      .category-links {
        font-size: 1.5em;
        text-decoration: none;

        p {
          padding: 10px;
          margin: 8px;
          background-color: #ffffff;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
          border-left: 1px solid black;
          border-right: 1px solid black;
          
        }
      }
    }

  }
}


// Card Styles
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  padding-top: 10px
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  .container-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 270px;
    height: 250px;

    .img-container {
      display: flex;
      justify-content: center;
    }

    img {
    }
  }

  .container-bio {
    width: 250px;
    height: 70px;
  }
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 15px;

  button {
    cursor: pointer;
  }
}

.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:focus {
  outline: none;
}