.home-outer-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  height: 100%;

  .home-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 800px;

    img {
      height: 160px;
      width: 160px;
    }
  }
  .home-top-container {
    display: flex;
    justify-content: center;
    
    .home-header {
      height: 100%;
      display: grid;

      .home-grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;

        .home-box-container {
          .home-box-title-container {
            display: flex;
            justify-content: center;
          }
          .home-box-bio-container {
            padding: 20px;
            text-align: left;
            line-height: 1.7;
          }
        }

        .home-title-header {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          padding: 10px;
          background-color: #000000;
          border-bottom: 2px solid black;
          color: white;

          .home-title-test {
            
          }

          h2 {
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    .home-top-grid-container {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      width: 100vw;
      height: 50vh;


      .home-section-container {
      border-bottom: 2px solid red;
      background-color: rgb(244, 245, 244);
      border-radius: 10px;

        width: 400px;
        height: 400px;

        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
    }
  }
  .home-bottom-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(244, 245, 244);

    .home-grid-container {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
      height: 100%;
      padding: 15px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );  
      grid-template-rows: 1fr;
      justify-content: center;
      grid-row-gap: 15px;

      .home-image-container {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
    }
  }

}