.product-outer-container {
  display: flex;
  justify-content: center;
  .product-inner-container {
    display: flex;
    justify-content: space-around;

    .product-category-header {
      width: 30vh;
      padding: 30px;
    }

    .product-container {
      padding: 20px;

      .product-header {
        padding: 10px;
      }

      .product-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .product-single-container {


        }
      }
    }
  }
}