.product-outer-container {
  display: flex;
  justify-content: center;
  .product-inner-container {
    display: flex;
    justify-content: space-around;

    .product-category-header {
      width: 30vh;
      padding: 30px;   
      border-right: 2px solid red;
    }

    .product-container {
      padding: 20px;

      .product-header {
        padding: 10px;
        border-bottom: 2px solid red;
      }

      .product-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .product-single-container {
          .product-back-container {
          }
        }
      }
    }
  }
}